@import '../../styles/tokens';

@mixin button-filled($text-color, $color-lightest, $color-light, $color-dark) {
    color: $text-color;
    border-color: $color-lightest;
    background-color: $color-lightest;
    box-shadow: 0 1px 2px 0 transparentize(map-get($colors, black), 0.5);

    &:focus,
    &:hover {
        background: $color-light;
        border-color: $color-light;
        box-shadow: 0 1px 1px 0 transparentize(map-get($colors, black), 0.5);
    }

    &:active {
        background: $color-dark;
        border-color: $color-dark;
        box-shadow: inset 0 1px 2px 0 transparentize(map-get($colors, black), 0.5);
    }

    &:disabled {
        pointer-events: none;
        box-shadow: none;
        cursor: auto;
        opacity: 0.5;
    }
}

.button {
    color: map-get($colors, gray-dark);
    touch-action: manipulation;
    outline: none;
    background-color: map-get($colors, white);
    cursor: pointer;
    border: 1px solid map-get($colors, gray-manatee);
    border-radius: map-get($spacing, base);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    font-weight: bold;

    & > span {
        color: inherit;
    }

    &:hover,
    &:focus {
        box-shadow: none;
        background-color: #f7f9ff;
    }

    &:active {
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    }

    &:disabled {
        pointer-events: none;
        box-shadow: none;
        cursor: auto;
        opacity: 0.5;
    }
}

.primary {
    @include button-filled(
        map-get($colors, white),
        map-get($colors, blue-primary),
        map-get($colors, blue-middle),
        map-get($colors, blue-deep)
    );
}

.outline {
    color: map-get($colors, gray-dark);
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
        background-color: transparent;
    }

    &:disabled {
        pointer-events: none;
        box-shadow: none;
        cursor: auto;
        opacity: 0.5;
    }
}

// Sizes
.small {
    height: map-get($spacing, 5xl);
    font-size: map-get($font-sizes, xs);
    letter-spacing: map-get($letter-spacings, xs);
    line-height: map-get($spacing, xl);
    padding: 0 map-get($spacing, xl);
}

.medium {
    height: map-get($spacing, 6xl);
    font-size: map-get($font-sizes, xs);
    letter-spacing: map-get($letter-spacings, xs);
    line-height: map-get($spacing, xl);
    padding: 0 map-get($spacing, xl);
}

.large {
    height: map-get($spacing, 8xl);
    font-size: map-get($font-sizes, medium);
    letter-spacing: map-get($letter-spacings, medium);
    line-height: map-get($spacing, 2xl);
    padding: 0 map-get($spacing, 3xl);
}
